/* Styles go here */
.Header{
	background: #FF7141;
	position: fixed;
	color: white;
	width: 100vw;
	z-index: 100;
}

.Footer{
	background: #000046;
	color: white;
	padding: 20px;
}

.HomeStart{
	padding-top: 100px;
	height: 80vh;
	background: #FF7141;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #FF7141, #f5af19 );  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #FF7141, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	z-index: 0;
}

.white{
	color: white;
}

.Chat{
	position: fixed;
	bottom: 5%;
	right: 5%;
}
