.Navigation{
  background: #FF4500;
  color: white;
  position: fixed;
  width: 100vw;
  top:0%;
  z-index: 100;
}

.white{
  color: white;
}

.HomeStart{
  height: 80vh;
  background: #FF4500;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Footer{
  background: black;
  color: white;
  padding: 20px;
}
